<h1>Lista de Productos.</h1>
<ul>
  {{#each products}}
    <li>{{title}}
      - ${{price}}
      <a href="/products/{{id}}">Ver detalles</a>
      <button onclick="addToCart('{{id}}')">Agregar al carrito</button>
    </li>
  {{/each}}
</ul>

<nav>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">Página Anterior</a>
  {{/if}}
  Página
  {{page}}
  de
  {{totalPages}}
  {{#if hasNextPage}}
    <a href="{{nextLink}}">Página Siguiente</a>
  {{/if}}
</nav>

<script>
  function addToCart(productId) { fetch(`/api/carts/1/product/${productId}`, {
  method: 'POST' }) .then(response => response.json()) .then(data =>
  console.log('Producto agregado', data)); }
</script>